@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
body {
  background-color: aliceblue;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  /* font-family: 'Cookie', cursive; */
}
label {
  font-size: 30px;
}
h1 {
  font-family: "Cookie", cursive;
  font-size: 45px;
}
.profit {
  background-color: rgb(153, 239, 153);
}
.loss {
  background-color: rgb(229, 108, 108);
}
#container {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
}
input{
  margin-top: 10px;
  padding: 20px;
}
.output-section{
  font-size: 25px;
}
#calculate-btn {
  width: 80px;
  border-radius: 5px;
  border: none;
  background-color: yellowgreen;
  padding: 10px;
  font-size: 15px;
}
footer {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}
.socialMediaImages {
  margin: 5px;
}
